//@font-face {
//  font-family: 'Open Sans';
//  src:  url('fonts/OpenSans-Regular.woff2') format('woff2'),
//        url('fonts/OpenSans-Regular.woff') format('woff');
//  font-weight: ;
//  font-style: ;
//}

@font-face {
  font-family: 'Open Sans';
  src:  url('./fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:  url('./fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:  url('./fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:  url('./fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*@font-face {
  font-family: 'Open Sans';
  src:  url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff');
  font-weight: ;
  font-style: ;
}

@font-face {
  font-family: 'Open Sans';
  src:  url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff');
  font-weight: ;
  font-style: ;
}*/

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  color: limegreen;
}

.ui.header {
  color: #AA0101;
}

body > div:nth-child(2) {
  width: 200px;
  height: 200px;
  background: url("./images/react.png") center no-repeat;
  background-size: contain;
}

body > div:nth-child(3) {
  width: 200px;
  height: 200px;
  background: url("./images/nodejs.jpg") center no-repeat;
  background-size: contain;
}

body > div:nth-child(4) {
  width: 200px;
  height: 200px;
  background: url("./images/angular.svg") center no-repeat;
  background-size: contain;
}